<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- vchip banner -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0528538247401436"
     data-ad-slot="5013135830"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins> -->
<!-- <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>	 -->

<p id="ChipStory" style="display: none;">
	You are good to go for the new world order. <br><br>
	Chip firmware updates will be pushed once 5G is available in your area; during an update you may experience a slight sensation.
</p>

<div class="form__group field" id="NameField" style="display: none;">
	<input type="input" class="form__field" placeholder="Name" name="name" id='name' autocomplete="off" required />
	<label for="name" class="form__label">Friends Name (or enemy, no judgement)</label>
</div>

<div class="form__group field" id="extra_details_box" style="display: none;">
	<textarea rows="4" class="form__field" placeholder="Name" name="extra_details" id='extra_details' autocomplete="off"></textarea>
	<label for="extra_details" class="form__label">Additional "Chip Data"</label>
</div>

<button id="GenerateLinkButton" onclick="GenerateLink()" style="display: none;">Create Scanner Link</button>
<button id="CustomLink" onclick="CopyToClip()" style="display: none;"></button>

<input type="input" id="forcopy" style="display: none;">
<!-- <input type="input" id="forcopy" style="display: none;"> -->

<script>
	function GenerateLink(){
		var formData = new FormData();
		var xhttp = new XMLHttpRequest();
		var url = '/link/';
		formData.append('target_name', document.getElementById("name").value);
		formData.append('extra_details', document.getElementById("extra_details").value);
		
		xhttp.onload = function(){
			document.getElementById("NameField").style.display = "none";
			document.getElementById("extra_details_box").style.display = "none";
			document.getElementById("GenerateLinkButton").style.display = "none";
			
			document.getElementById("forcopy").value= this.responseText;
			document.getElementById("CustomLink").innerHTML = this.responseText;
			document.getElementById("CustomLink").style.display = "block";			
		}

		xhttp.open('POST', url, true);
		xhttp.setRequestHeader("X-CSRFToken", csrftoken);
		xhttp.send(formData);
	}

	function CopyToClip(){
		document.getElementById("forcopy").style.display = "block";	

		var copyText = document.getElementById("forcopy");
		copyText.select();
		copyText.setSelectionRange(0, 99999);
		document.execCommand("copy");
		document.getElementById("CustomLink").innerHTML = "Copied!";
		console.log("Copied the text: " + copyText.value);
		// alert("Copied the text: " + copyText.value);	
		
		document.getElementById("forcopy").style.display = "none";	
	}
</script>	

<script>
	// const inputbox = document.querySelector('input, textarea');

	// inputbox.addEventListener('blur', (event) => {
	// 	document.getElementById("ChipStory").style.display = "block";
	// });

	// inputbox.addEventListener('focus', (event) => {
	// 	document.getElementById("ChipStory").style.display = "none";
	// });
</script>